.navbar {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.bg-dark {
  background: #212121 !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 0em 0.75em;
  font-size: 1.125em;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #12a8e0;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-dark .navbar-toggler {
  color: #fff;
  border: 4px solid #fff;
}
.navbar-toggler {
  border-radius: 100%;
  padding: 0.8rem;
}
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    margin-top: 1.5em;
  }
  .navbar-dark .navbar-nav .nav-link {
    text-align: center;
    font-size: 1em;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 0.96em 0em;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
  }
}
